---
# tasks file for satellite6-17-bfx
- name: Enable Satellite Capsule Repository Set
  command: >
    hammer repository-set enable
    --product "Red Hat Satellite Capsule"
    --name "Red Hat Satellite Capsule 6.17 for RHEL 9 x86_64 (RPMs)"
    --organization "{{ org_name }}"
  register: repo_enable
  changed_when: "'enabled' in repo_enable.stdout"

- name: Synchronize Satellite Capsule Product
  command: >
    hammer product synchronize
    --name "Red Hat Satellite Capsule"
    --organization "{{ org_name }}"
  register: sync_output

- name: Run satellite-change-hostname
  command: >
    satellite-change-hostname {{ satellite_fqdn }}
    --username {{ satellite_admin_user }}
    --password {{ satellite_admin_password }}
    --assumeyes
  ignore_errors: true

- name: Set Satellite Hostname
  command: hostnamectl set-hostname satellite.lab.sandbox-blpw4-ocp4-cluster.svc.cluster.local

- name: Run satellite-change-hostname
  command: >
    satellite-change-hostname {{ satellite_fqdn }}
    --username {{ satellite_admin_user }}
    --password {{ satellite_admin_password }}
    --assumeyes

- name: Clean old subscription-manager data
  command: subscription-manager clean

- name: Remove existing katello-ca-consumer RPM
  yum:
    name: "katello-ca-consumer*"
    state: absent

- name: Install new CA consumer package
  command: >
    rpm -Uvh http://{{ satellite_fqdn }}/pub/katello-ca-consumer-latest.noarch.rpm

- name: Register Satellite again
  command: >
    subscription-manager register
    --force
    --username {{ satellite_admin_user }}
    --password {{ satellite_admin_password }}
  tags: here

- name: Refresh subscription-manager
  command: subscription-manager refresh
  tags: here

- name: Show yum repolist
  command: yum repolist
  register: repolist_output
  tags: here

- name: Generate capsule certificates
  command: >
    capsule-certs-generate
    --foreman-proxy-fqdn {{ capsule_fqdn }}
    --certs-tar {{ capsule_cert_tar }}
  tags: here

- name: Fetch cert tarball from Satellite to controller
  fetch:
    src: "{{ capsule_cert_tar }}"
    dest: "/tmp/"
    flat: true

- name: Copy cert tarball from controller to Capsule
  copy:
    src: "/tmp/{{ capsule_cert_tar | basename }}"
    dest: "/root/"
  delegate_to: "capsule"


- name: Delete specific Satellite host
  command: >
    hammer host delete
    --name satellite.lab.sandbox-blpw4-ocp4-cluster.svc.cluster.local
  register: delete_satellite_host
  changed_when: "'Deleted host' in delete_satellite_host.stdout"
  failed_when: false

- name: Get capsule hosts matching pattern
  command: >
    hammer host list
    --search "name ~ capsule.*.internal"
    --fields name
    --csv
  register: capsule_hosts

- name: Delete old capsule hosts
  command: >
    hammer host delete --name "{{ item }}"
  loop: "{{ capsule_hosts.stdout_lines[1:] }}"
  when: capsule_hosts.stdout_lines | length > 1
  register: delete_capsule_hosts
  changed_when: "'Deleted host' in delete_capsule_hosts.stdout"
  failed_when: false
